<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addProductModalLabel">Add Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="was-validated">
                    <div class=" form-outline flex-fill mb-0">
                        <input name="productName" type="text" id="productName" class="form-control" required
                            [(ngModel)]="productName" />
                        <label class="form-label" for="form3Example1c" style="color:gray">Product
                            Name</label>
                    </div>
                    <div class="form-outline flex-fill mb-0 mt-3">
                        <input name="imagePath" type="text" id="imagePath" class="form-control" required
                            [(ngModel)]="imagePath" />
                        <label class="form-label" for="form3Example1c" style="color:gray">Image
                            Path</label>
                    </div>
                    <div class="form-outline flex-fill mb-0 mt-3">
                        <input name="price" type="number" id="price" class="form-control" required
                            [(ngModel)]="price" />
                        <label class="form-label" for="form3Example1c" style="color:gray">Price</label>
                    </div>
                    <div class="form-outline flex-fill mb-0 mt-3">
                        <input name="description" type="text" id="description" class="form-control" required
                            [(ngModel)]="description" />
                        <label class="form-label" for="form3Example1c" style="color:gray">Description</label>
                    </div>
                    <div class="form-outline flex-fill mb-0 mt-3">
                        <input name="quantity" type="number" id="quantity" class="form-control" required
                            [(ngModel)]="quantity" />
                        <label class="form-label" for="form3Example1c" style="color:gray">Quantity</label>
                    </div>
                    <div class="form-outline flex-fill mb-0 mt-3">
                        <input name="categoryId" type="number" id="categoryId" class="form-control" required
                            [(ngModel)]="categoryId" />
                        <label class="form-label" for="form3Example1c" style="color:gray">Category
                            ID</label>
                    </div>
                    <div class="form-outline flex-fill mb-0 mt-3">
                        <input name="conditionId" type="number" id="conditionId" class="form-control"
                            [(ngModel)]="conditionId" required />
                        <label class="form-label" for="form3Example1c" style="color:gray">Condition ID</label>
                    </div>
                    <div class="form-outline flex-fill mb-0 mt-3">
                        <input name="shippingId" type="number" id="shippingId" class="form-control"
                            [(ngModel)]="shippingId" required />
                        <label class="form-label" for="form3Example1c" style="color:gray">Shipping
                            ID</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addProduct()" data-bs-dismiss="modal">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>